:root {
  --clr-primary: rgba(41, 7, 13, 85%);
  --clr-accent: hsl(43, 100%, 44%);
  --clr-main: rgb(195, 195, 195);

  --fs-xl: 3rem;
  --fs-600: 2.5rem;
  --fs-400: 1.75rem;
  --fs-200: 1.125rem;
}

* {
  box-sizing: border-box;
}

body {
  background-image: url("img/B&W Mercedes.jpg");
  background-size: cover;
  background-position-y: 30%;
  background-color: rgba(41, 7, 13, 85%); /* Tint color */
  background-blend-mode: multiply;
  height: 100vh;
  margin: 0;
  font-size: var(--fs-200);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* to do
    pad the content appropriately,
    fix footer to stick to very bottom of page */

.nav-bar {
  background-image: linear-gradient(black, rgba(0, 0, 0, 0%));
}

.nav-items {
  color: var(--clr-main);
  font-size: calc(var(--fs-200) + 0.125rem);
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
}

.nav-items li {
  padding: 0.5em 3em;
  padding-top: 1em;
  flex: 1 1 100%;
  text-align: center;
}

.nav-items a {
  text-decoration: none;
  color: var(--clr-main);
}

.nav-items li:hover,
.nav-items li:focus {
  border-bottom: 3px solid white;
  /* text-shadow: -5px 5px 20px hsl(43, 100%, 44%); */
}

/* .flex-container {
        display: flex;
        justify-content: center;
    } */

.body-container {
  color: hsl(0, 0%, 76%);
}

.container {
  max-width: 70%;
  margin: 0 auto;
}

.container p,
.container figure {
  font-size: var(--fs-200);
  line-height: 1.5em;
  margin: 0;
}

.main-header {
  color: var(--clr-accent);
  font-size: var(--fs-xl);
  line-height: 1em;
  text-align: center;
  padding: 3rem 0;
}

.section-header {
  color: var(--clr-accent);
  font-size: var(--fs-600);
  line-height: 1em;
  text-align: center;
  margin: 0;
}

.sub-header {
  color: var(--clr-accent);
  font-size: var(--fs-400);
  padding-top: 1.5em;
}

a img {
  cursor: pointer;
}

.img-container {
  /* width: 80vw; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.BnA-img {
  max-width: 100%;
  border-radius: 10px;
  margin: 0;
  /* add gap in images */
  /* label images underneath the pictures */
  /* try flex shrink 0 to keep images from shrinking when page does */
}

.info-background {
  background-color: rgba(0, 0, 0, 70%);
  padding: 2.5em 1em;
}

.info-flex {
  display: flex;
  justify-content: center;
  flex: 1 1 100%;
}
/* create media query for mobile making flex direction column */

.service-info {
  text-align: center;
  padding: 0 1em;
}

.btn-flex {
  text-align: center;
}

.btn-container {
  text-align: center;
}

.btn {
  font-size: calc(var(--fs-200) + 0.125rem);
  background-color: var(--clr-accent);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 0.5em 1.2em;
  margin: 3em 0;
  text-align: center;
}

.btn:hover,
.btn:focus {
  background-color: hsl(43, 100%, 54%);
  cursor: pointer;
}

.footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0%), black);
  color: white;
  margin-top: 4.6em;
  padding-bottom: 2em;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Mobile Hamburger Toggle Below */

.hamburger {
  margin: 0 0 0 40px;
  font-size: 2rem;
  line-height: 70px;
  display: none;
}

#toggle {
  display: none;
}

@media only screen and (max-width: 559px) {
  .hamburger {
    color: var(--clr-main);
    display: block;
    cursor: pointer;
    align-self: flex-start;
    width: 30px;
  }
  .nav-items {
    text-align: center;
    width: 100%;
    flex-direction: column;
    display: none;
  }
  .nav-items a {
    display: block;
    margin: 0;
  }
  #toggle:checked + .nav-items {
    display: block;
  }
}
